.app__page-header {
  background: url(../../assets/gradients.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.app__page-payment {
  background: #ffe9e7;
}
.app__landing{
  overflow-x: hidden;
}