.app__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 192px;
  font-family: "Aeonik";
  font-weight: normal;
}
.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.app__navbar-links {
  display: flex;
  flex: 1;
  color: #515251;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
}
.app__navbar-links li {
  margin: 0 1.8rem;
  list-style-type: none;
}
.app__navbar-links li::first-letter {
  text-transform: uppercase;
}
.app__navbar-register {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.app__navbar-register div {
  margin: 0 0.7rem;
}
.app__navbar-register_login,
.app__navbar-register_reg {
  color: var(--color-green);
  border: 1px solid var(--color-green);
  padding: 10px 32px;
  border-radius: 24px;
  width: 170px;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.app__navbar-register_login:hover,
.app__navbar-register_reg:hover {
  background: var(--color-green);
  color: #ffffff;
  -webkit-box-shadow: 10px 10px 13px -5px rgba(207, 230, 225, 1);
  -moz-box-shadow: 10px 10px 13px -5px rgba(207, 230, 225, 1);
  box-shadow: 10px 10px 13px -5px rgba(207, 230, 225, 1);
}
.app__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
  
}
.app__navbar-menu svg {
  cursor: pointer;
  color: var(--color-green);
}
.app__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: #fff;
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1150px) {
  .app__navbar-menu {
    display: flex;
  }
  .app__navbar {
    padding: 20px 80px;
  }
  .app__navbar-links {
    display: none;
  }
  .app__navbar-menu_container-links li {
    list-style: none;
    margin-bottom: 20px;
    cursor: pointer;
    color: var(--color-gray);
  }
  .app__navbar-menu_container-links li::first-letter {
    text-transform: uppercase;
  }
  .app__navbar-menu_container-links-sign {
    display: none;
  }
  .app__navbar-register {
    margin-left: 140px;
  }
  .app__navbar-register_login,
  .app__navbar-register_reg {
    width: 130px;
    text-transform: capitalize;
  }
}
@media screen and (max-width: 700px) {
  .app__navbar-register {
    display: none;
  }
  .app__navbar-menu_container-links-sign {
    display: flex;
    flex-direction: column;
  }
  .app__navbar-register_login {
    margin-bottom: 20px;
  }
  .app__navbar {
    padding: 20px;
  }
}
