:root {
  --color-golden: #b4a572;
  --color-black: #292a29;
  --color-gray: #515251;
  --color-orange: #ea4e4b;
  --color-green: #11453b;
  --color-mint: #d9ebcd;
}
@font-face {
  font-family: "Aeonik";
  src: url("fonts/Aeonik-Medium.otf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Mellow";
  font-weight: 400;
  src: url("fonts/made-mellow-personal-use.medium.otf") format("truetype");
}
@font-face {
  font-family: "Mellow-Regular";
  src: url("fonts/made-mellow-personal-use.regular.otf") format("truetype");
}
@font-face {
  font-family: "Aeonik-Regular";
  font-weight: 400;
  src: url("fonts/Aeonik-Regular.otf") format("truetype");
}
@font-face {
  font-family: "Aeonik-bold";
  src: url("fonts/Aeonik-Bold.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Aeonik-light";
  src: url("fonts/Aeonik-Light.otf");
}
@font-face {
  font-family: "Aeonik-hard";
  src: url("fonts/Aeonik-Bold.otf");
  font-weight: 700;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}
.section__container {
  display: flex;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media screen and (min-width: 2500px) {
}
@media screen and (max-width: 1150px) {
  .section__container {
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

 
}
